<!-- 常用查询 -->
<div class="my-1 form-inline">
  <select class="form-control form-control-sm mr-1" [(ngModel)]="query.statusValue" (change)="reloadData()">
    <option value="">--状态--</option>
    <option *ngFor="let item of statusItems" [value]="item.id">{{item.text}}</option>
  </select>
  <input type="text" class="form-control form-control-sm mr-1" placeholder="搜索：编号/名称"
         [(ngModel)]="query.searchText" (change)="reloadData()"/>
  <button type="button" class="btn btn-sm btn-default" (click)="reloadData()">
    <i class="fas fa-search"></i> 查询
  </button>
  <button type="button" class="btn btn-sm btn-default ml-1" (click)="doCreate()">
    <i class="fas fa-plus"></i> 新增
  </button>
  <div class="ml-auto">
  </div>
</div>

<!-- 结果列表 -->
<p-table [value]="option.dataSource" [lazy]="true" (onLazyLoad)="option.onLazyLoad($event)"
         [loading]="option.loading" responsiveLayout="scroll"
         [paginator]="true" [(rows)]="option.limit" [totalRecords]="option.totalRecords"
         [rowsPerPageOptions]="[10,15,20,25,50]"
         styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped fit-width">

  <ng-template pTemplate="header">
    <tr>
      <th class="text-center" style="width: 35px;">#</th>
      <th class="text-center" style="width: 120px;">操作</th>
      <th pSortableColumn="code"> 代码
        <p-sortIcon field="code"></p-sortIcon>
      </th>
      <th pSortableColumn="name"> 名称
        <p-sortIcon field="status"></p-sortIcon>
      </th>
      <th class="text-center" style="width: 100px;">等级</th>
      <th class="text-center" style="width: 100px;">类型</th>
      <th>入口</th>
      <th class="text-center" style="width: 100px;">排序码</th>
      <th class="text-center" style="width: 100px;">状态</th>
      <th>备注</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row let-index="rowIndex">
    <tr>
      <td class="text-center th font-weight-bold">{{index + 1}}</td>
      <td class="text-center">
        <div class="btn-group">
          <button type="button" class="btn btn-xs btn-default" (click)="doView(row)"> 详情</button>
        </div>
      </td>
      <td [title]="row.code">{{row.code}}</td>
      <td [title]="row.name">{{row.name}}</td>
      <td class="text-center" [title]="row.level">{{row.level}} 级</td>
      <td class="text-center" [title]="row.typeName">{{row.typeName}}</td>
      <td [title]="row.url">{{row.url}}</td>
      <td class="text-center" [title]="row.sort">{{row.sort}}</td>
      <td class="text-center" [title]="row.statusName">
        <span class="badge" [ngClass]="{
          'bg-dark': row.status === 'I',
          'bg-success': row.status === 'V'
        }">{{row.statusName}}</span>
      </td>
      <td [title]="row.remark">{{row.remark}}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorright">
    <button type="button" class="btn btn-sm btn-default ml-1">
      <i class="fas fa-sort"></i> 重置排序
    </button>
    <div class="btn-group ml-1">
      <button type="button" class="btn btn-sm btn-default">
        <i class="fas fa-file-excel"></i> Excel
      </button>
      <button type="button" class="btn btn-sm btn-default">
        <i class="fas fa-file-word"></i> Word
      </button>
      <button type="button" class="btn btn-sm btn-default">
        <i class="fas fa-file-pdf"></i> PDF
      </button>
    </div>
  </ng-template>

  <ng-template pTemplate="emptymessage">
  </ng-template>

</p-table>
