<ol class="carousel-indicators" *ngIf="showIndicators && slides.length>1">
  <ng-container *ngFor="let slide of slides; let i = index;">
    <li [class.active]="slide.active"
        (click)="selectSlide(i)">
    </li>
  </ng-container>
</ol>
<div class="carousel-inner">
  <ng-content></ng-content>
</div>
<a class="carousel-control-prev" href="javascript:" role="button"
   [class.disabled]="activeIndex ===0"
   (click)="previousSlide()" *ngIf="slides.length>1">
    <span class="carousel-control-custom-icon" aria-hidden="true">
      <i class="fas fa-chevron-left"></i>
    </span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="javascript:" role="button"
   [class.disabled]="activeIndex + 1 >= slides.length"
   (click)="nextSlide()" *ngIf="slides.length>1">
    <span class="carousel-control-custom-icon" aria-hidden="true">
      <i class="fas fa-chevron-right"></i>
    </span>
  <span class="sr-only">Next</span>
</a>
