<div class="d-flex w-100">
  <div class="ku-nav-header">
    <div class="nav flex-column nav-tabs h-100 pl-1 pt-1">
      <a class="nav-link" href="javascript:" [ngClass]="{'active': state.active === 0}"
         (click)="state.active = 0">
        详情
      </a>
      <a class="nav-link" href="javascript:" *ngIf="!state.isNew" [ngClass]="{'active': state.active === 1}"
         (click)="state.active = 1">
        租用
      </a>
      <a class="nav-link" href="javascript:" *ngIf="!state.isNew" [ngClass]="{'active': state.active === 2}"
         (click)="state.active = 2">
        删除
      </a>
    </div>
  </div>
  <div class="w-100">
    <div class="tab-content p-1">
      <div class="tab-pane fade" [ngClass]="{'show active': state.active === 0}">
        <div ku-info-bar>
          基本资料
        </div>
        <uasp-applic-form [state]="state.form"></uasp-applic-form>
      </div>
      <div class="tab-pane fade" *ngIf="!state.isNew" [ngClass]="{'show active': state.active === 1}">
        <div ku-info-bar>
          租户列表
        </div>
        <uasp-tenant-list [state]="state.tenant"></uasp-tenant-list>
        <div ku-info-bar>
          往来公司
        </div>
      </div>
      <div class="tab-pane fade" *ngIf="!state.isNew" [ngClass]="{'show active': state.active === 2}">
        <div ku-info-bar>
          删除记录
        </div>
      </div>
    </div>
  </div>
</div>
