<!-- 常用查询 -->
<div class="mb-1 form-inline">
  <select class="form-control form-control-sm mr-1" [(ngModel)]="query.statusValue" (change)="onReload()">
    <option value="">--是否过期--</option>
    <option *ngFor="let item of statusItems" [value]="item.id">{{item.text}}</option>
  </select>
  <input type="text" class="form-control form-control-sm mr-1" placeholder="搜索：租户名称"
         [(ngModel)]="query.searchText" (change)="onReload()"/>
  <button type="button" class="btn btn-sm btn-default" (click)="onReload()">
    <i class="fas fa-search"></i> 查询
  </button>
  <button type="button" class="btn btn-sm btn-default ml-1" (click)="onCreate()">
    <i class="fas fa-plus"></i> 添加租户
  </button>
  <div class="ml-auto">
  </div>
</div>

<!-- 结果列表 -->
<p-table [value]="option.dataSource" [lazy]="true" (onLazyLoad)="option.onLazyLoad($event)"
         [loading]="option.loading" responsiveLayout="scroll"
         [paginator]="true" [(rows)]="option.limit" [totalRecords]="option.totalRecords"
         [rowsPerPageOptions]="[10,15,20,25,50]"
         styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped fit-width">

  <ng-template pTemplate="header">
    <tr>
      <th class="text-center" style="width: 35px;">#</th>
      <th class="text-center" style="width: 120px;">操作</th>
      <th pSortableColumn="tenantName"> 租户名称
        <p-sortIcon field="tenantName"></p-sortIcon>
      </th>
      <th pSortableColumn="createTime" style="width: 120px;"> 开通时间
        <p-sortIcon field="createTime"></p-sortIcon>
      </th>
      <th class="text-center" style="width: 120px;">到期时间</th>
      <th class="text-center" style="width: 100px;">启用状态</th>
      <th>开通人</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row let-index="rowIndex">
    <tr>
      <td class="text-center th font-weight-bold">{{index + 1}}</td>
      <td class="text-center">
        <div class="btn-group">
          <button type="button" class="btn btn-xs btn-default" (click)="onRemove(row)">移除</button>
        </div>
      </td>
      <td [title]="row.tenantName">{{row.tenantName}}</td>
      <td [title]="row.expireTime">{{row.createTime | date:'yyyy-MM-dd'}}</td>
      <td [title]="row.expireTime">{{row.expireTime | date:'yyyy-MM-dd'}}</td>
      <td class="text-center" [title]="row.statusName">
        <span class="badge" [ngClass]="{
          'bg-dark': row.status === 'I',
          'bg-success': row.status === 'V'
        }">{{row.statusName}}</span>
      </td>
      <td [title]="row.creatorName">{{row.creatorName}}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorright">
  </ng-template>

  <ng-template pTemplate="emptymessage">
  </ng-template>

</p-table>
