<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">

  <div class="p-3 control-sidebar-content">

    <h5>自定义布局</h5>
    <hr class="mb-2">
    <div class="mb-3">
      <input type="checkbox" value="1" class="mr-1" [(ngModel)]="layout.darkMode"><span>深色模式</span>
    </div>

    <h6>标题选项</h6>
    <div class="mb-1"><input type="checkbox" value="1" class="mr-1" [(ngModel)]="layout.headerFixed"><span>固定</span></div>
    <div class="mb-3"><input type="checkbox" value="1" class="mr-1" [(ngModel)]="layout.headerNoBorder"><span>无边框</span></div>

    <h6>导航栏选项</h6>
    <div class="mb-1"><input type="checkbox" value="1" class="mr-1" [(ngModel)]="layout.sidebarCollapse"><span>折叠</span></div>
    <div class="mb-1"><input type="checkbox" value="1" class="mr-1" [(ngModel)]="layout.sidebarFixed"><span>固定</span></div>
    <div class="mb-1"><input type="checkbox" value="1" class="mr-1" [(ngModel)]="layout.sidebarMini"><span>迷你导航</span></div>
    <div class="mb-1"><input type="checkbox" value="1" class="mr-1" [(ngModel)]="layout.navFlat"><span>扁平风格</span></div>
    <div class="mb-1"><input type="checkbox" value="1" class="mr-1" [(ngModel)]="layout.navLegacy"><span>复古风格</span></div>
    <div class="mb-1"><input type="checkbox" value="1" class="mr-1" [(ngModel)]="layout.navCompact"><span>紧凑样式</span></div>
    <div class="mb-3"><input type="checkbox" value="1" class="mr-1" [(ngModel)]="layout.navChildIndent"><span>子项缩进</span></div>

    <h6>页脚选项</h6>
    <div class="mb-3"><input type="checkbox" value="1" class="mr-1" [(ngModel)]="layout.footerFixed"><span>固定</span></div>

    <h6>小文字选项</h6>
    <div class="mb-3"><input type="checkbox" value="1" class="mr-1" [(ngModel)]="layout.bodyTextSm"><span>整页</span></div>

  </div>

</aside>
<!-- /.control-sidebar -->
