<div class="container-xl d-flex flex-column px-0">
  <div class="d-flex justify-content-between p-4 msp-header">
    <h3 class="mb-0"><a href="javascript:" class="text-white" routerLink="/welcome">微服务开放平台</a></h3>
    <div class="msp-nav-link d-flex align-items-center">
      <a href="javascript:" class="text-white" routerLink="/login">登录系统</a>
      <a href="javascript:" class="text-white ml-3" routerLink="/register">注册用户</a>
      <a href="javascript:" class="text-white ml-3">了解更多</a>
    </div>
  </div>
  <div class="msp-body">
    <router-outlet></router-outlet>
  </div>
  <div class="msp-footer p-4">
    <h4>版权声明</h4>
  </div>
</div>
