<div class="wrapper" [ngClass]="layout.wrapperClass">

  <ku-layout-header>
    <ng-template kTemplate="left">
      <ng-container *ngFor="let item of navigation.header">
        <ku-navbar-menu [item]="item"></ku-navbar-menu>
      </ng-container>
    </ng-template>
    <ng-template kTemplate="right">
      <ku-user-menu></ku-user-menu>
    </ng-template>
  </ku-layout-header>

  <ku-layout-sidebar [brand]="brand" [menus]="navigation.sidebar"></ku-layout-sidebar>

  <div class="content-wrapper" [ngClass]="layout.contentWrapperClass">

    <ng-container *ngIf="!breadcrumbTemplate">
      <ku-breadcrumb></ku-breadcrumb>
    </ng-container>
    <ng-template [ngTemplateOutlet]="breadcrumbTemplate"></ng-template>

    <section class="content" [ngClass]="layout.contentClass">
      <router-outlet></router-outlet>
    </section>

  </div>

  <ku-layout-footer [copyright]="copyright"></ku-layout-footer>

  <ku-layout-control></ku-layout-control>

  <div id="sidebar-overlay" (click)="onSidebarCollapse()"></div>

</div>
