<!-- 常用查询 -->
<div class="mb-1 form-inline">
  <input type="text" class="form-control form-control-sm mr-1" placeholder="搜索：编号/名称"
         [(ngModel)]="query.searchText" (change)="onReload()"/>
  <button type="button" class="btn btn-sm btn-default" (click)="onReload()">
    <i class="fas fa-search"></i> 查询
  </button>
  <ng-container *ngIf="selectedNode.type !== 'D'">
    <button type="button" class="btn btn-sm btn-default ml-1" (click)="onCreate('C')">
      <i class="fas fa-plus"></i> 新增分类
    </button>
    <button type="button" class="btn btn-sm btn-default ml-1" (click)="onCreate('M')">
      <i class="fas fa-plus"></i> 新增模块
    </button>
    <button type="button" class="btn btn-sm btn-default ml-1" (click)="onCreate('D')"
            *ngIf="selectedNode.parent?.key==='ROOT'">
      <i class="fas fa-plus"></i> 新增分隔
    </button>
  </ng-container>
  <div class="ml-auto">
    <h5 class="mb-0 mr-1 text-blue">{{selectedNode.label}}</h5>
  </div>
</div>

<!-- 结果列表 -->
<p-table [value]="option.dataSource" [lazy]="true" (onLazyLoad)="option.onLazyLoad($event)"
         [loading]="option.loading" responsiveLayout="scroll"
         [paginator]="true" [(rows)]="option.limit" [totalRecords]="option.totalRecords"
         [rowsPerPageOptions]="[10,15,20,25,50]"
         styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped fit-width">

  <ng-template pTemplate="header">
    <tr>
      <th class="text-center" style="width: 35px;">#</th>
      <th class="text-center" style="width: 60px;">操作</th>
      <th pSortableColumn="name" style="width: 120px;"> 名称
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="code" style="width: 120px;"> 编号
        <p-sortIcon field="code"></p-sortIcon>
      </th>
      <th class="text-center" style="width: 50px;">图标</th>
      <th class="text-center">访问路径</th>
      <th>权限项</th>
      <th class="text-center" style="width: 60px;">排序码</th>
      <th class="text-center" style="width: 60px;">类型</th>
      <th class="text-center" style="width: 60px;">状态</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row let-index="rowIndex">
    <tr>
      <td class="text-center th font-weight-bold">{{index + 1}}</td>
      <td class="text-center">
        <div class="btn-group">
          <button type="button" class="btn btn-xs btn-default" (click)="onView(row)"> 详情</button>
        </div>
      </td>
      <td [title]="row.name">{{row.name}}</td>
      <td [title]="row.code">{{row.code}}</td>
      <td class="text-center">
        <ng-container *ngIf="row.type !== 'D'">
          <i [ngClass]="!!row.icon ? row.icon : 'text-black-50 fas fa-arrow-right'"></i>
        </ng-container>
      </td>
      <td [title]="row.url">{{row.url}}</td>
      <td>
        <ng-container *ngIf="!!row.actions">
          <span *ngFor="let item of row.actions;let last=last;">{{item.name}}{{!last ? ',' : ''}}</span>
        </ng-container>
      </td>
      <td class="text-center" [title]="row.sort">{{row.sort}}</td>
      <td class="text-center">{{row.usageName}}</td>
      <td class="text-center" [title]="row.statusName">
        <span class="badge" [ngClass]="{
          'bg-dark': row.status === 'I',
          'bg-success': row.status === 'V'
        }">{{row.statusName}}</span>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorright">
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="10"><h5 class="text-center my-1">没有可显示的数据！</h5></td>
    </tr>
  </ng-template>

</p-table>
