<!-- Main Sidebar Container -->
<aside class="elevation-4 main-sidebar sidebar-dark-primary"
       [ngClass]="focusin ? 'sidebar-focused' :'sidebar-collapse'"
       [class.sidebarNoExpand]="layout.sidebarNoExpand">

  <!-- Brand Logo -->
  <ng-container *ngIf="!brandTemplate">
    <a href="#" class="brand-link">
      <img src="" class="brand-image img-circle elevation-3 {{brand.logoClass}}" style="opacity: .8"
           [src]="brand.logoUrl"
           [alt]="brand.logoAlt"
           [ngStyle]="brand.logoStyles">
      <span class="brand-text font-weight-light">{{brand.brandText}}</span>
    </a>
  </ng-container>
  <ng-template [ngTemplateOutlet]="brandTemplate"></ng-template>

  <!-- Sidebar -->
  <div class="sidebar os-theme-light">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column pt-3"
          [class.nav-flat]="!!layout.navFlat"
          [class.nav-compact]="!!layout.navCompact"
          [class.nav-legacy]="!!layout.navLegacy"
          [class.nav-child-indent]="!!layout.navChildIndent"
          [class.nav-collapse-hide-child]="!!layout.navHideOnCollapse">
        <ng-container *ngFor="let menu of sidebarMenus; let idx = index;">
          <li class="nav-header" *ngIf="menu.header">{{menu.header}}</li>
          <li kNavbarItem *ngIf="!menu.header" class="nav-item"
              [ngClass]="{'has-treeview': menu.items,'menu-open': menu.isOpen}" [item]="menu"></li>
        </ng-container>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->

  </div>
  <!-- /.sidebar -->
</aside>
