<div class="d-flex flex-column m-4">
  <div class="d-flex">
    <div class="info-head">
      <div>
        <h1 class="font-weight-bold">欢迎访问</h1>
        <h1 class="font-weight-bold">微服务开放平台</h1>
        <h5 class="mt-4">用于发布、订阅、控制API行为</h5>
      </div>
      <div class="actions">
        <button type="button" class="font-weight-bold" routerLink="/login">登录系统</button>
        <button type="button" class="font-weight-bold" routerLink="/register">注册用户</button>
      </div>
    </div>
    <div class="ml-auto">
      <div ku-carousel [noPause]="false" style="border: 1px solid white;width: 500px;">
        <ku-carousel-item [active]="true">
          <img class="d-block w-100" src="assets/img/photo1.png" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ku-carousel-item>
        <ku-carousel-item>
          <img class="d-block w-100" src="assets/img/photo2.png" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ku-carousel-item>
        <ku-carousel-item>
          <img class="d-block w-100" src="assets/img/photo3.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ku-carousel-item>
      </div>
    </div>
  </div>
  <div class="info-body mt-5">
    <div class="d-flex justify-content-between">
      <div class="info-icon p-2">
        <img/>
        <h5 class="text-center text-dark font-weight-bold pt-2">服务管理</h5>
      </div>
      <div class="info-icon p-2">
        <img/>
        <h5 class="text-center text-dark font-weight-bold pt-2">配置中心</h5>
      </div>
      <div class="info-icon p-2">
        <img/>
        <h5 class="text-center text-dark font-weight-bold pt-2">接口管理</h5>
      </div>
      <div class="info-icon p-2">
        <img/>
        <h5 class="text-center text-dark font-weight-bold pt-2">审批管理</h5>
      </div>
      <div class="info-icon p-2">
        <img/>
        <h5 class="text-center text-dark font-weight-bold pt-2">网关管理</h5>
      </div>
      <div class="info-icon p-2">
        <img/>
        <h5 class="text-center text-dark font-weight-bold pt-2">监控管理</h5>
      </div>
      <div class="info-icon p-2">
        <img/>
        <h5 class="text-center text-dark font-weight-bold pt-2">系统管理</h5>
      </div>
    </div>
    <div class="info-text my-4 rounded">

    </div>
  </div>
</div>
