/* You can add global styles to this file, and also import other style files */
.msp-header {
  background-color: #00162d;
  color: white;
  border-bottom: 2px solid white;
}

.msp-body {
  background-color: #002c57;
  color: white;

  .info-head {
    width: 280px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .actions {
      display: flex;
      justify-content: space-between;

      button {
        width: 9rem;
        height: 3rem;
        font-size: 1.5rem;
        border: none;
        border-radius: 3px;
      }
    }
  }

  .info-body {

    .info-icon {
      height: 150px;
      width: 120px;
      background-color: #efefef;
      border-radius: 3px;

      img {
        width: 100%;
        height: 110px;
      }
    }

    .info-text {
      height: 100px;
      width: 100%;
      background-color: #ced4da80;
    }
  }
}

.msp-footer {
  background-color: #00162d;
  color: white;
  border-top: 2px solid white;
}

table.editor {
  tr th {
    background-color: #efefef80;
    text-align: right;

    span {
      color: red;
    }

    label {
      margin-top: 4px;
      margin-bottom: 0;
    }
  }
}

table.viewer {
  tr th {
    background-color: #efefef80;
    text-align: right;

    label {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
