.ku-main-tab-title {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.ku-nav-header {
  background: linear-gradient(270deg, #e3e3e350, transparent);
}

.modal-header {
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar {
  padding: 0;

}

.main-header .navbar-nav .nav-item {
  padding: 0.5rem 0.5rem;
}

.p-inputtext {
  padding: 0.157rem 0.5rem;
}
